/* HTML5 elements */
header, section, footer,
aside, nav, article, figure {
  display: block;
}

body {
  font-family: verdana,sans-serif; /* "Arial Black", "Georgia","Serif" */;
  font-size: 14px;
	color: #BBBBBB;/* #222222;  #4E443C */
  
  background-color: #101010;
}

nav {
  background-color: #0776A0;
}

section {
  background-color: #024C68;
  padding: 5px;
}

article {
  padding: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-top: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
}
  article img {
    padding: 0;
    margin: 5px;
  }

a {
  color: #62B1D0;
}
  a.external {
    font-weight: bolder;
  }
    a.external:after {
      content: " >";
    }

q, quote, blockquote {
  font-style: italic;
  color: white;
}
em {
  color: white;
}

h1, h2, h3, h4, h5 {
  color: #5DCFC3;
}
  h1 a, h2 a {
    text-decoration: none;
    color: inherit;
  }
  h4, h5 {
    padding: 0;
    margin: 10px 0 0 0;
  }

footer {
  text-align: center !important;
  opacity: 0.8;
  font-size: 0.7em;
}





.lefty {
  float: left;
}
.righty {
  float: right;
}

.contenty {
  clear: both; 
  margin: 0px auto 0px 185px;
  width: 800px;
  z-index: 5;
}

.clear { clear: both; }

.contexty {
  position: fixed;
  top: 10px;
  left: 0;
  opacity: 0.7;
  
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-left: 5px solid gray;
  border-top: 5px solid gray;
  padding: 10px;
  margin-left: 20px;

}


section.contenty {
  padding: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-top: 1px solid #024C68;
  border-right: 1px solid #024C68;
  border-bottom: 1px solid #024C68;
  border-left: 1px solid #024C68;
}

nav:hover {
  opacity: 1;
}
  nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
    nav li a {
      font-weight: bold;
    }

